@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
    background-color: rgb(141, 52, 134);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: large;

}

.conteneur {
    display: flex;
    justify-content: center;
    width: 100%;
}

div {
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media (min-width : 700px) {
    .conteneur {
        width: 500px;
    }
}

h1 {
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;


}

#travail,
#pause {
    margin: auto;
    border: solid;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
}

#pause {
    display: none;
}




em {
    margin: auto;
    padding: auto;
    margin-bottom: 10px;

}

label {
    margin: auto;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;


}

input {
    margin: auto;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 40%;


}

@media (min-width : 700px) {
    .conteneur {
        width: 500px;
    }

}

@media (max-width : 600px) {
    input {
        width: 90%;

    }
}